* {
    margin: 0;
    padding: 0;
    background-color: #2D4059;
}

.container {
    width: 1000px;
    height: 1000px;
    position: relative;
}

.ball {
    background-color: #E6E62C;
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation: bounce 4s linear infinite alternate;
}

@keyframes bounce {
    0% {
        top: 0vh;
        left: 0vw
    }

    25% {
        top: 90vh;
        left: 25%;
    }
  
  50% {
        top: 0vh;
        left: 50%;
    }
  
  75% {
        top: 90vh;
        left: 75%;
    }

    100% {
        top: 0vh;
        left: 100%;
    }
}
