body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: center;
    color: white;
    font-size: 2.5rem;
}

/* TEXT ALIGNMENT */

.texto {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 5;
    cursor: pointer;
}

/* DESIGN FOR THE 5 STRIPES */

.stripe-1 {
    background-color: #244F75;
    width: 20%;
    height: 100vh;
    margin: 0.5rem 0.15rem;
    position: relative;
    animation: stripe1 1s;
}

.stripe-2 {
    background-color: #60BFBF;
    width: 20%;
    height: 100vh;
    margin: 0.5rem 0.15rem;
    position: relative;
    animation: stripe2 1s;
}

.stripe-3 {
    background-color: #8C4B7E;
    width: 20%;
    height: 100vh;
    margin: 0.5rem 0.15rem;
    position: relative;
    animation: stripe3 1s;
}

.stripe-4 {
    background-color: #F8BB44;
    width: 20%;
    height: 100vh;
    margin: 0.5rem 0.15rem;
    position: relative;
    animation: stripe4 1s;
}

.stripe-5 {
    background-color: #F24B4B;
    width: 20%;
    height: 100vh;
    margin: 0.5rem 0.15rem;
    position: relative;
    animation: stripe5 1s;
}

/* EFFECTS AND ANIMATIONS FOR THE 5 STRIPES*/

.texto::before {
    content: "";
    background-color: white;
    transform: skew(30deg);
    opacity: 0.1;
    position: absolute;
    width: 100%;
    height: 100%;
}

.texto:hover::before {
    background-color: white;
    transform: skew(30deg);
    transition-duration: 1s;
    opacity: 0.1;
    position: absolute;
    width: 500%;
    height: 100%;
}

/* KEYFRAMES */

@keyframes stripe1 {
    0% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe2 {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe3 {
    0% {
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe4 {
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes stripe5 {
    0% {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
